/node_modules
/public/hot
/public/storage
/storage/*.keys
/storage/*.key
/vendor
/tmp
.env
.env.backup
*.cache
docker-compose.override.yml
Homestead.json
composer.json
composer.lock
docker-compose.yml
artisan
package-lock.json
package.json
/public/js/app.js
/public/vendor
