/tmp
/node_modules
/public/hot
/public/storage
/storage/*.keys
/storage/*.key
/vendor
.env
.env.backup
*.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.phar
clover.xml
