/node_modules
/public/hot
/public/storage
/storage/*.keys
/storage/*.key
/vendor
*.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.phar
clover.xml
/.vscode
package-lock.json
package.json
composer.json
composer.lock
#no php - we have php-cs-fixer for that
*.php
